<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls-Homepage</title>
</head>
<body>
    <h1>HOMEPAGE</h1>
    {% if user.is_authenticated %}
        <p>Welcome: {{ user.username }}</p>
        <p><a style="text-decoration: none" href="{% url "polls:index" %}">View Polls</a></p>
        <a style="text-decoration: none" href="{% url 'polls:logout_view' %}">Logout</a>
    {% else %}
        <p style="margin-bottom: 5px;"><a style="text-decoration: none;" href="{% url "login" %}">Login</a></p>
        <a href="{% url 'polls:signup' %}" style="text-decoration: none;">Register</a>
    {% endif %}
</body>
</html>